<div class="header-container">
    <a href="#FrontPage"><span class="name-container">Alex</span></a>
    <div class="links-container">
        <a id="aboutMeHead" href="#AboutMe"><span>About me</span></a>
        <a id="skillsHead" href="#MySkills"><span>Skills</span></a>
        <a id="portfolioHead" href="#Portfolio"><span>Portfolio</span></a>
    </div>
    <img (click)="switchMenu()" class="mobile-menu" [class.hide]="menuSwitched" src="./assets/img/mobile_menu.png" alt="">
    <img (click)="switchMenu()" class="mobile-menu" [class.hide]="!menuSwitched" src="./assets/img/mobile_close.png" alt="">
</div>