.all {
    position: relative;
    z-index: 5;
    background-color: #1e283d;
}

a {
    text-decoration: none;
    color: white;
}

.top-border {
    border-top: 2px solid #70E61C;
    width: 100%;
    z-index: 5;
    position: relative;
}

.footer-container {
    width: calc(100% - 400px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
    height: 400px;
    color: white;
    z-index: 5;
    position: relative;
    background-color: #1e283d;
}

.alex {
    font-size: 48px;
    cursor: pointer;
}

.impressum {
    font-size: 14px;
    padding-top: 20px;
    cursor: pointer;

    &:hover {
        text-decoration: underline 1px solid #1cdae6;
    }
}

.copyright {
    font-size: 30px;
    cursor: default;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

    img {
        transition: transform ease 0.3s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.hide {
    display: none;
}

@media (max-width:1340px) {
    .footer-container {
        margin-left: 75px;
        margin-right: 75px;
        width: calc(100% - 150px);
    }

}

@media (max-width: 960px) {
    .hide-mobile {
        display: none;
    }

    .footer-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .links {
        gap: 60px;
    }

    .impressum {
        font-size: 20px;
    }

    .hide {
        display: flex;
    }

    .alex {
        margin-bottom: 50px;
    }
}

@media (max-width:620px) {
    .alex {
        font-size: 36px;
    }

    .footer-container {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
    }

    .copyright {
        font-size: 20px;
    }
}

@media (min-width:1700px) {
    .footer-container {
        margin-right: 300px;
        margin-left: 300px;
        width: calc(100% - 600px);
    }
}