<div class="links-container">
    <span class="purple-line"></span>
    <a href="https://github.com/AlexGerzen" target="_blank"><img src="./assets/img/logos/github-button.png" alt=""></a>
    <a href="#contactContainer"><img class="mobile-margin-l-60" src="./assets/img/logos/email-button.png" alt=""></a>
    <a href="https://www.linkedin.com/in/alexander-gerzen-641797296" target="_blank"><img  class="mobile-margin-l-60" src="./assets/img/logos/linkedIn-button.png" alt=""></a>
    <a href="#contactContainer"><span class="email">info@alex-gerzen.de</span></a>
</div>
