<div id="aboutMeContainer" class="about-me-container">
    <div class=left-container>
        <span>About me</span>
        
        <div class="about-me-text"> 
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ducimus, officia sequi consectetur quam ea
            libero sed eveniet maxime magni? Facilis, est. Nesciunt ea nobis obcaecati impedit consectetur ipsa illum!
        </div>
        
        <div class="bulb-puzzle">
            <img class="pad-r-12px" src="./assets/img/bulb.png" alt="">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consequatur quos minus pariatur qui
                voluptatum officia! Alias ipsam dolorem quasi ipsum quidem, recusandae asperiores eveniet laudantium a
                velit non distinctio.
            </div>
        </div>
        
        <div class="bulb-puzzle">
            <img src="./assets/img/puzzle.png" alt="">
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, nisi fuga ut natus et accusantium
                mollitia assumenda? Expedita exercitationem sint quas cum dolorum omnis, eius dolores et enim. Amet,
                adipisci.
            </div>
        </div>

    </div>
    <div class="right-container">
        <img src="./assets/img/profile-picture/platzhalter2.png" alt="">
        <div class="green-line"></div>
    </div>
    <img class="purple-shadow" src="./assets/img/shadows/purple_shadow_1.png" alt="">
</div>
