<div id="aboutMeContainer" class="about-me-container">
    <div class=left-container>
        <span>About me</span>

        <div class="about-me-text">
            I am a German software developer with a background in electrical engineering, specializing in JavaScript, Angular, CSS, and HTML. My passion lies in
            creating top-notch web applications that are both technically robust and user-friendly. With my expertise
            and a focus on appealing design, I develop innovative solutions. I am ready to collaborate on creating great
            projects together!
        </div>

        <div class="bulb-puzzle">
            <img class="pad-r-12px" src="./assets/img/bulb.png" alt="">
            <div>
                I provide innovative approaches and creative ideas to enrich and advance your projects. My
                dedication ensures that I deliver top-notch results.
            </div>
        </div>

        <div class="bulb-puzzle">
            <img src="./assets/img/puzzle.png" alt="">
            <div>
                I possess adaptability and excel in collaborative teamwork, contributing positively to group dynamics.
                My ability to adapt and work harmoniously with others makes me a valuable team member.
            </div>
        </div>

    </div>
    <div class="right-container">
        <img src="./assets/img/profile-picture/profilbild2.png" alt="">
        <div class="green-line"></div>
    </div>
    <img class="purple-shadow" src="./assets/img/shadows/purple_shadow_1.png" alt="">
</div>