<div id="contactContainer" class="contact-container">
    <div class="head">
        <div class="purple-line"></div>
        <span>Contact</span>
    </div>
    <div class="info-container">
        <div id="leftContainerContact" class="left-container">
            <div class="got-a-problem">Got a problem to solve?</div>
            <div>Contact me through this form, I am interested in hearing you, konwing your ideas and contributing to your projects with my work.</div>
            <div class="contact-me">Need a Frontend developer? <p>Contact me!</p></div>
        </div>
        <form id="myFormContainer" (keyup.enter)="sendEmail(myForm)" (ngSubmit)="sendEmail(myForm)" #myForm="ngForm" class="right-container" method="post">
            <input [class.border-red]="name.empty" id="yourName" [(ngModel)]="name.value" required name="name" placeholder="Your name" type="text">
            <div [class.color-red]="name.empty" id="nameRequired">Your name is required</div>
            <input [class.border-red]="email.empty" required email="true" type="email" [(ngModel)]="email.value" name="email" placeholder="Your email">
            <div [class.color-red]="email.empty" id="emailRequired">Your email is required</div>
            <textarea [class.border-red]="message.empty" id="yourMessage" [(ngModel)]="message.value" required name="message" placeholder="Your message" cols="30" rows="10"></textarea>
            <div [class.color-red]="message.empty" id="messageEmpty">Your message is empty</div>
            <div class="checkbox-container"><mat-checkbox (click)="setPolicy()" color="primary"></mat-checkbox><div>I've read the <a (click)="openPrivacyPolicy()">privacy policy</a> and agree to the processing of my data as outlined.</div></div>
            <div id="acceptPolicy">Please accept the privacy policy</div>
            <button value="Submit" type="submit"  mat-raised-button>Send message :)</button>
        </form>
    </div>
    <a href="#frontPageContainer"><img class="scroll-up" src="./assets/img/go-up-button.png" alt=""></a>
    <img class="purple-shadow" src="./assets/img/shadows/purple_shadow_2.png" alt="">
</div>