.start-page {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.scroll-down-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 100px;
    right: 160px;
    gap: 45px;
    cursor: default;
    z-index: 5;

    span {
        transform: rotate(90deg);
        font-size: 18px;
    }

    img {
        width: 16px;
    }
    
}

.mobile-menu {
    display: none;
}

@media (max-width: 1340px) {
    .scroll-down-container {
        right: 45px;
    }
}

@media (max-width: 960px) {
    .scroll-down-container {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        display: flex;
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        z-index: 99;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .hide {
        display: none;
    }
}