<div class="margin-l-r-400">
    <div class="start-page">
        <app-header [dataFromApp]="boolToHeader" (dataEvent)="receiveDataFromHeader($event)"></app-header>
        <app-front-page></app-front-page>
        <app-links></app-links>
        <div class="scroll-down-container"><span>Scroll down</span><img src="./assets/img/arrow-down.png" alt=""></div>
    </div>
    <div>
        <app-about-me></app-about-me>
        <app-my-skills></app-my-skills>
        <app-portfolio></app-portfolio>
        <app-project></app-project>
        <app-contact (showPolicy)="receiveDataFromContact($event)"></app-contact>
        <app-footer (impressumOpen)="receiveDataFromFooter($event)"></app-footer>
    </div>
    <app-mobile-menu (menuClosed)="receiveDataFromMobileMenu($event)" [class.hide]="!showMenu"
        class="mobile-menu"></app-mobile-menu>
    <app-privacy-policy (policyClosed)="receiveDataFromPolicy($event)" class="privacy-policy" [class.showPolicy]="showPolicy" ></app-privacy-policy>
    <app-impressum (impressumClose)="receiveDataFromImpressum($event)" class="impressum" [class.showImpressum]="showImpressum"></app-impressum>
</div>