.start-page {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.scroll-down-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 100px;
    right: 65px;
    gap: 45px;
    cursor: default;

    span {
        transform: rotate(90deg);
        font-size: 18px;
    }

    img {
        width: 16px;
    }
    
}