.my-skills-container {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 200px);
    margin-left: 200px;
    padding-top: 150px;
    color: #ffffff;
    padding-bottom: 150px;
    max-width: 100%;
}

.left-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    cursor: default;
    z-index: 5;

    div {
        margin-right: 130px;
        width: calc(25% - 130px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 60px;

        img {
            width: 50px;
            transition: transform 0.2s;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}

.right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 75px;
    cursor: default;

    div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 100px;
    }


    span {
        font-weight: 700;
        font-size: 60px;
    }

    button {
        background-color: #70E61C;
        color: white;
        font-size: 18px;
        height: 60px;
        width: 150px;
        transition: transform 0.3s ease !important;
        margin-right: 250px;


        &:hover {
            transform: scale(1.2);
            background-color: #9747FF;
        }
    }
}

.purple-line {
    width: 100px;
    height: 1px;
    border: 3px solid #9747FF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.my-skills-text {
    margin-right: 200px;
    text-align: end;
}

.green-shadow {
    position: absolute;
    z-index: 1;
    left: -450px;
    top: 210px;
    transform: rotate(90deg);
}

.mobile-button {
    display: none;
}

@media (max-width:1340px) {
    .my-skills-container {
        margin-left: 75px;
        width: calc(100% - 75px);
    }

    .left-container {
        div {
            margin-right: 100px;
            width: calc(25% - 100px);
            align-items: flex-start;
        }
    }

    .right-container {
        div {
            gap: 25px;
        }

        span {
            font-size: 46px;
        }

        button {
            margin-right: 100px;
        }

    }

    .purple-line {
        width: 50px;
    }

    .my-skills-text {
        margin-right: 75px;
    }
}

@media (max-width:960px) {
    .my-skills-container {
        padding-top: 50px;
        flex-direction: column-reverse;
    }

    .right-container {
        width: 100%;
        z-index: 5;
    }

    .my-skills-text {
        font-size: 18px;
    }

    .left-container {
        width: 100%;
        div {
            margin-right: 75px;
            width: calc(33.3% - 75px);
            align-items: center;
        }
    }

    .hide-mobile {
        display: none !important;
    }

    .mobile-button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        margin-right: 75px;
        a {
            text-decoration: none;
            display: flex;
            justify-content: center;
        }
        button {
            display: flex;
            background-color: #70E61C;
            color: white;
            font-size: 18px;
            height: 60px;
            width: 150px;
            transition: transform 0.3s ease !important;


            &:hover {
                transform: scale(1.2);
                background-color: #9747FF;
            }
        }

    }
}

@media (max-width:620px) {
    .my-skills-container {
        margin-left: 10px;
        width: calc(100% - 10px);
    }

    .my-skills-text {
        margin-right: 10px;
    }

    .left-container {
        div {
            margin-right: 10px;
            width:calc(33.3% - 10px);
        }
    }

    .mobile-button {
        margin-right: 0;
    }

    .right-container {
        span {
            font-size: 36px;
        }
    }
}