<div id="mySkillsContainer" class="my-skills-container">
    <div class="left-container">
        <div><img src="./assets/img/logos/angular.png" alt=""><span>Angular</span></div>
        <div><img src="./assets/img/logos/typescript.png" alt=""><span>TypeScript</span></div>
        <div><img src="./assets/img/logos/javascript.png" alt=""><span>JavaScript</span></div>
        <div><img src="./assets/img/logos/html.png" alt=""><span>HTML</span></div>
        <div><img src="./assets/img/logos/firebase.png" alt=""><span>Firebase</span></div>
        <div><img src="./assets/img/logos/git.png" alt=""><span>GIT</span></div>
        <div><img src="./assets/img/logos/css.png" alt=""><span>CSS</span></div>
        <div><img src="./assets/img/logos/api.png" alt=""><span>Rest-Api</span></div>
        <div><img src="./assets/img/logos/scrum.png" alt=""><span>Scrum</span></div>
        <div><img src="./assets/img/logos/material-design.png" alt=""><span>Material <br> Design</span></div>
    </div>

    <div class="right-container">
        <div><span>My skills</span> <div class="purple-line"></div></div>
        <div class="my-skills-text">I have gained experience in building projects with various front end technologies and concepts.</div>
        <div class="button-container"><a href="#contactContainer"><button mat-raised-button>Get in touch</button></a></div>
    </div>
    <img class="green-shadow" src="./assets/img/shadows/green_shadow_1.png" alt="">
</div>
