<div id="frontPageContainer" class="front-page-container">
    <div class="profile-picture-container">
        <img class="profile-picture" src="./assets/img/profile-picture/profilbild1.png" alt="">
        <img class="shadow" src="./assets/img/shadows/shadow_1.png" alt="">
    </div>
    
    <div class="headline-button-container">
        <div class="headline-container">
            <span class="i-am">I am</span>
            <div>
                <span class="alexander-gerzen">Alexander Gerzen</span>
                <span class="frontend-developer">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <a href="#contactContainer"><button mat-raised-button>Let´s talk</button></a>
    </div>
</div>