.front-page-container {
    background-color: #141D2F;
    height: 80vh;
    padding-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    clip-path: ellipse(72% 55% at 38% 37%);


}

.profile-picture-container {
    position: relative;


    img {
        width: 550px;

    }
}

.profile-picture {
    position: relative;
    z-index: 10;
    margin-left: 100px;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
}

.headline-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 200px;

    button {
        background-color: #70E61C;
        color: white;
        margin-top: 50px;
        font-size: 32px;
        height: 60px;
        width: 200px;
        transition: transform 0.3s ease !important;


        &:hover {
            transform: scale(1.2);
            background-color: #9747FF;
        }
    }
}

.headline-container {
    display: flex;

    cursor: default;

    div {
        display: flex;
        flex-direction: column;
    }
}

.i-am {
    transform: rotate(-90deg);
    color: white;
    font-size: 37px;
    padding-top: 40px;
}

.alexander-gerzen {
    color: white;
    font-size: 48px;
    font-weight: 700;
    width: 400px;
    text-align: end;
}

.frontend-developer {
    color: #9747FF;
    font-size: 35px;
    padding-top: 35px;
    width: 400px;
    text-align: end;
}

@media (max-width: 1341px) {
    .front-page-container {
        clip-path: ellipse(74% 51% at 36% 37%);
    }

    .profile-picture {
        margin-left: 10px;
    }

    .profile-picture-container {
        img {
            width: 500px;
        }
    }

    .headline-button-container {
        margin-right: 75px;
    }

    .alexander-gerzen {
        font-size: 36px;
        width: auto;
    }

    .frontend-developer {
        font-size: 27px;
        width: auto;
        padding-top: 15px;
    }

    .i-am {
        font-size: 30px;
        padding-top: 28px;
    }

}

@media (max-width: 960px) {
    .front-page-container {
        flex-direction: column;
        clip-path: none;
        background-color: #1e283d;
    }

    .profile-picture-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        clip-path: ellipse(74% 61% at 34% 37%);

        img {
            width: 450px;
        }
    }

    .shadow {
        width: 100% !important;
    }

    .profile-picture {
        margin-left: 0;
    }

    .headline-button-container {
        width: 100%;
        margin: 0;

        button {
            font-size: 22px;
        }
    }

    .alexander-gerzen {
        font-size: 54px;
    }

    .frontend-developer {
        font-size: 40px;
        padding-top: 24px;
    }

    .i-am {
        font-size: 42px;
    }
}

@media (max-width:620px) {
    .front-page-container {
        height: auto;
        justify-content: flex-start;
        gap: 20px;
    }

    .profile-picture-container {
        clip-path: ellipse(117% 61% at 34% 37%);

        img {
            width: 280px;
        }
    }

    .alexander-gerzen {
        font-size: 24px;
    }

    .frontend-developer {
        font-size: 18px;
        padding-top: 7px;
    }

    .i-am {
        font-size: 22px;
        padding-top: 18px;
    }

    .headline-button-container {
        button {
            height: 50px;
            width: 160px;
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 960px) and (max-height: 720px) {
    .front-page-container {
        height: auto;
    }
}

@media screen and (min-width: 620px) and (max-width: 960px) {
    .front-page-container {
        height: auto;
    }
}