<div class="all">

    <div class="project-container join-container">
        <div class="left-container"><img src="./assets/img/projects/join.png" alt=""></div>
        <div class="right-container">
            <span>Join</span>
            <div class="skills">Html | CSS | JavaScript | GIT</div>
            <div>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign
                users and categories</div>
            <div></div>
            <div class="button-container">
                <a href="https://alex-gerzen.de/Join/login.html" target="_blank"><button class="live-test" mat-raised-button>Live test</button></a>
                <a href="https://github.com/AlexGerzen/Join" target="_blank"><button class="github" mat-stroked-button>Github</button></a>
            </div>
        </div>
    </div>

    <div class="project-container other-direction elpolloloco-container">
        <div class="left-container"><img src="./assets/img/projects/elpolloloco.png" alt=""></div>
        <div class="right-container margin-r-40">
            <span class="text-end">El Pollo Loco</span>
            <div class="skills text-end">Html | CSS | JavaScript</div>
            <div class="text-end">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find
                coins and salsa bottles to defeat the giant chicken</div>
            <div></div>
            <div class="button-container text-end">
                <a href="https://alex-gerzen.de/ElPolloLoco/index.html" target="_blank"><button class="live-test" mat-raised-button>Live test</button></a>
                <a href="https://github.com/AlexGerzen/ElPolloLoco" target="_blank"><button class="github" mat-stroked-button>Github</button></a>
            </div>
        </div>
    </div>

    <img class="purple-shadow" src="./assets/img/shadows/purple-shadow_3.png" alt="">
    <img class="green-shadow" src="./assets/img/shadows/green_shadow_2.png" alt="">
</div>